# Telegram bot
BOT_TOKEN=
MICROSERVICE_BASE_URL=http://127.0.0.1:8000
WEBHOOK_URL=
MAX_FILE_MB=20
HOST=0.0.0.0
PORT=8080

# Timeouts
APP_AUDIO_TIMEOUT=360
MICROSERVICE_READ_TIMEOUT=800
APP_CRM_TIMEOUT=30

# AI keys
AGENTQL_API_KEY=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
HUGGINGFACE_TOKEN=

# App-ms
BASE_URL=http://localhost:8000
RESULTS_DIR=/opt/ud-mvp/data/results
APP_AUDIO_URL=http://127.0.0.1:8001
APP_AUDIO_LANGUAGE=ru
APP_AUDIO_MODEL=medium
TORCH_DEVICE=cpu
APP_CRM_URL=http://127.0.0.1:8010

# PDF tools
POPPLER_PATH=/usr/bin
SOFFICE_PATH=/usr/bin/soffice
# Windows примеры:
# POPPLER_PATH="C:\Program Files\Poppler\Library\bin"
# SOFFICE_PATH="C:\Program Files\LibreOffice\program\soffice.exe"

# CRM
CRM_GOOGLE_SERVICE_ACCOUNT_JSON=/opt/ud-mvp/app-crm/config/service_account.json
CRM_SHEET_ID=
CRM_SHEET_NAME=V1

# GPU (опционально, если ставите cu121-сборки)
# TORCH_DEVICE=cuda
# TORCH_CUDA_VERSION=cu121
# torch==2.3.0 torchvision==0.18.0 torchaudio==2.3.0 из https://download.pytorch.org/whl/cu121
